  .posts-container {
    flex-grow: 1; 
    overflow-y: auto; 
  }
  
/* Stack rows on small screens */
@media only screen and (max-width: 800px) {
  .user-posts-container {
    order: -1;
  }

  /* Hide .table-container when .user-posts-container is displayed */
  .container.hide-table .table-container{
    display: none;
  }
}

  